body {
  max-width: 600px;
  height: 100%;
  padding: 0;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#__next {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

